.footer {
  color: #ffffff;

  background-color: #383838;

  &__heading {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__container {
    display: flex;
    width: 1170px;
    max-width: calc(100% - 60px);
    padding: 40px 0 50px;
    margin-left: auto;
    margin-right: auto;

    font-size: 14px;
    font-weight: 300;
    color: #d2d2d2;
  }

  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.88;
    letter-spacing: normal;
    color: #ffffff;

    background-color: #2d2d2d;
  }

  &__logo {
    display: block;
    width: 152px;
    margin-bottom: 19px;
    margin-right: 27px;
  }

  &__nav {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 270px;
    margin-right: 50px;
  }

  &__subscribe {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 380px;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 0;
  }
}