.link {
  font-size: 16px;
  font-weight: 300;
  color: #292929;
  text-decoration: none;

  &--bold {
    font-weight: bold;
  }

  &--big {
    display: inline-block;

    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
    text-transform: uppercase;
    color: #cf9333;
  
    border-bottom: 1px dotted #cf9333;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 11px;
    height: 11px;
    margin-right: 8px;
  }
}