.map {
  padding-top: 40px;
  padding-bottom: 100px;

  &__btn {
    width: 355px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;

    @media all and (max-width: 767px) {
      max-width: calc(100% - 30px);
    }
  }
}