.rewrite-item {
  padding: 19px 46px 36px 30px;
  background-color: #FFF;

  @media all and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  &__inst {
    margin-top: 9px;
    font-size: 24px;
    line-height: 1.13;
    letter-spacing: normal;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    &:hover {
      color: #cf9333
    }
    img {
      width: 20px;
      margin-right: 5px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: normal;
  }
}