<!DOCTYPE html>
<html lang="ru">
<head>
  @@include('include/head.html')
  <title>InBloom - flowers from soap</title>
</head>
<body>

@@include('include/header.html')

  <main class="main" id="main">

    <!-- begin .cover -->
    <section class="cover">

      <!-- TODO: Подобрать фоновую картинку для мобильной версии, желательно ещё и планшетную версию -->

      <div class="cover__rouses">
        <img class="cover__rouse cover__rouse--one js-layer" src="images/cover-rouses/3.png" srcset="images/cover-rouses/3@2x.png 2x" alt="" data-speed="1"/>
        <img class="cover__rouse cover__rouse--two js-layer" src="images/cover-rouses/2.png" srcset="images/cover-rouses/2@2x.png 2x" alt="" data-speed="0.5"/>
        <img class="cover__rouse cover__rouse--three js-layer" src="images/cover-rouses/5.png" srcset="images/cover-rouses/5@2x.png 2x" alt="" data-speed="1"/>
        <img class="cover__rouse cover__rouse--four js-layer" src="images/cover-rouses/4.png" srcset="images/cover-rouses/4@2x.png 2x" alt="" data-speed="2"/>
        <img class="cover__rouse cover__rouse--five js-layer" src="images/cover-rouses/6.png" srcset="images/cover-rouses/6@2x.png 2x" alt="" data-speed="2"/>
      </div>

      <!-- TODO: запросить SVG -->
      <img class="cover__decor cover__decor--lb" src="images/cover-decor-lb.png" srcset="images/cover-decor-lb@2x.png 2x" alt="" data-jarallax-element="50 -100"/>
      <img class="cover__decor cover__decor--rt" src="images/cover-decor-rt.png" srcset="images/cover-decor-rt@2x.png 2x" alt="" data-jarallax-element="-50 50"/>

      <!-- begin .container -->
      <div class="cover__container container">
        <div class="row">
          <div class="col-12">
            <div data-aos="fade-down">
              <h1 class="cover__heading">Магазин неувядающих цветов на&nbsp;мыльной основе</h1>
            </div>
            <p class="cover__text" data-aos="fade-down">Если не устроит качество букета — вернем деньги!</p>
            <span class="cover__line" data-aos="fade-right" data-aos-delay="500"></span>
            <span class="cover__btn-wrap">
              <a class="cover__btn btn" href="catalog.html" data-aos="fade-down">
                <span class="btn__inner">Купить готовый букет</span>
              </a>
              <a class="cover__link link link--big" href="form.html" data-aos="fade-down">Собрать букет самостоятельно</a>
            </span>
          </div>
        </div>
      </div>
      <!-- end .container -->

    </section>
    <!-- end .cover -->

    <!-- begin flowers -->
    <section class="section flowers" id="flowers">

      <div class="horizontal-text" id="horizontal-text" data-jarallax-element="-140">
        <div class="horizontal-text__inner">
          <span class="horizontal-text__text">неувядающие цветы</span>
        </div>
      </div>

      <h2 class="section__heading" data-aos="fade-down">Что такое неувядающие цветы</h2>
      <div class="flowers__container container">

        <div class="flowers__cover" data-aos="fade-in">
          <picture>
            <source srcset="images/flowers@2x.webp 2x, images/flowers.webp 1x" type="image/webp"/>
            <source srcset="images/flowers@2x.png 2x, images/flowers.png 1x" type="image/png"/>
            <img class="flowers__img" src="images/flowers.png" alt=""/>
          </picture>
        </div>

        <div class="flowers__content">
          <div class="flowers__text"  data-aos="fade-down">
            <p>
              Мыльные цветы&nbsp;&mdash; это реалистичный аналог свежесрезанным
              цветам, состоящие из&nbsp;специального мыльного раствора.
            </p>
            <p>
              Такие цветы всегда имеют вид свежего бутона, легкий приятный аромат.
            </p>
            <p>
              В&nbsp;отличии от&nbsp;живых цветов они совсем не&nbsp;требуют ухода и&nbsp;абсолютно гипоаллергенны. Букет из&nbsp;неувядающих цветов может прослужить до&nbsp;5&nbsp;лет.
            </p>
          </div>

          <div class="flowers__list" data-aos="zoom-in">
            <div class="flowers__item">
              <img class="flowers__icon" src="images/icons/cough.svg" alt="">
              <span>Гипоаллергенны</span>
            </div>
            <div class="flowers__item">
              <img class="flowers__icon" src="images/icons/rose.svg" alt="">
              <span>Тренд года</span>
            </div>
            <div class="flowers__item">
              <img class="flowers__icon" src="images/icons/calendar.svg" alt="">
              <span>Служат до&nbsp;5&nbsp;лет</span>
            </div>
          </div>

          <a class="flowers__btn btn" href="form.html">
            <span class="btn__inner">Собрать букет</span>
          </a>

          <div class="flowers__sale-text"  data-aos="fade-up">
              Только сегодня цены от&nbsp;1290 рублей
          </div>
        </div>


      </div>
    </section>
    <!-- end flowers -->

    <!-- begin select-size -->
    <section class="section select-size">
      <h2 class="section__heading select-size__heading" data-aos="fade-down">Выберите размер букета</h2>
      <p class="section__description select-size__text" data-aos="new-animation" data-aos-delay="200">Ответьте на&nbsp;несколько&nbsp;вопросов и&nbsp;мы&nbsp;подберем для Вас самый оптимальный вариант</p>

      <!-- begin .container -->
      <div class="select-size__container container">
        <!-- begin .select-size__list -->
        <div class="select-size__list" id="select-size-list">
          <!-- begin .select-size__item -->
          <div class="select-size__item">
            <!-- begin .select-size-item -->
            <div class="select-size-item js-size-card">
              <div class="select-size-item__cover">
                <!-- TODO: желательно заменить на PNG, иногда залазит на фон, заметны белые границы -->
                <a href="form.html">
                  <img class="select-size-item__img" src="images/content/select-size/s.png" alt="большой букет в шляпной коробке">
                </a>
              </div>
              <div class="select-size-item__label">S</div>
              <button class="select-size-item__btn-open js-open-size-card" type="button">i</button>
              <a href="form.html">
              <div class="select-size-item__card">
                <button class="select-size-item__btn-close js-close-size-card" type="button">x</button>
                <div class="select-size-item__name">Маленький букет <br>в шляпной коробке</div>
                <div class="select-size-item__description">
                  Кол-во цветов от&nbsp;11&nbsp;шт.<br>
                  Цена от 1290₽
                </div>
              </div>
              </a>
            </div>
            <!-- end .select-size-item -->
          </div>
          <!-- end .select-size__item -->

          <!-- begin .select-size__item -->
          <div class="select-size__item">
            <!-- begin .select-size-item -->
            <div class="select-size-item js-size-card">
              <div class="select-size-item__cover">
                <a href="form.html">
                  <img class="select-size-item__img" src="images/content/select-size/m.png" alt="большой букет в шляпной коробке">
                </a>
              </div>
              <div class="select-size-item__label">M</div>
              <button class="select-size-item__btn-open js-open-size-card" type="button">i</button>
              <a href="form.html">
              <div class="select-size-item__card">
                <button class="select-size-item__btn-close js-close-size-card" type="button">x</button>
                <div class="select-size-item__name">Средний букет <br>в шляпной коробке</div>
                <div class="select-size-item__description">
                  Кол-во цветов от&nbsp;23&nbsp;шт.<br>
                  Цена от 2390₽
                </div>
              </div>
              </a>
            </div>
            <!-- end .select-size-item -->
          </div>
          <!-- end .select-size__item -->

          <!-- begin .select-size__item -->
          <div class="select-size__item">
            <!-- begin .select-size-item -->
            <div class="select-size-item js-size-card">
              <div class="select-size-item__cover">
                <a href="form.html">
                  <img class="select-size-item__img" src="images/content/select-size/l.png" alt="большой букет в шляпной коробке">
                </a>
              </div>
              <div class="select-size-item__label">L</div>
              <button class="select-size-item__btn-open js-open-size-card" type="button">i</button>
              <a href="form.html">
              <div class="select-size-item__card">
                <button class="select-size-item__btn-close js-close-size-card" type="button">x</button>
                <div class="select-size-item__name">большой букет <br>в шляпной коробке</div>
                <div class="select-size-item__description">
                  Кол-во цветов от&nbsp;35&nbsp;шт.<br>
                  Цена от 3500₽
                </div>
              </div>
              </a>
            </div>
            <!-- end .select-size-item -->
          </div>
          <!-- end .select-size__item -->

        </div>
        <!-- end .select-size__list -->
        <div class="rewrite__buttons" id="flowersControls">
          <button type="button" id="flowersBack" class="rewrites__btn rewrites-back">
            <img src="/images/icons/arrow-prev.svg" alt="">
          </button>
          <button class="rewrites__btn rewrites-next" id="flowersNext" type="button">
            <img src="/images/icons/arrow-next.svg" alt="">
          </button>
        </div>
      </div>
      <!-- end .container -->

    </section>
    <!-- end select-size -->

    <!-- begin versus -->
    <section class="section versus">
      <h2 class="section__heading versus__heading" data-aos="fade-down">Неувядающие цветы vs живые цветы</h2>
      <p class="section__description versus__text" data-aos="new-animation" data-aos-delay="200">5 отличий цветов на мыльной основе от обычных</p>

      <div class="versus__wrap">
        <!-- begin .versus__column -->
        <section class="versus__column versus__column--left" data-aos="fade-right">
          <h3 class="versus__subheading">Мыльные цветы <span class="versus__icon versus__icon--plus">+</span></h3>
          <ul class="versus__list">
            <li class="versus__item">Могут простоять до 5 лет</li>
            <li class="versus__item">Не требуют ухода</li>
            <li class="versus__item">До 20% выгодней</li>
            <li class="versus__item">Более 100 расцветок</li>
            <li class="versus__item">Бутоны ярче на 30%</li>
          </ul>
        </section>
        <!-- end .versus__column -->
        <!-- begin .versus__column -->
        <section class="versus__column" data-aos="fade-left">
          <h3 class="versus__subheading">Обычные цветы <span class="versus__icon versus__icon--minus">-</span></h3>
          <ul class="versus__list">
            <li class="versus__item">Завянут через 7 дней</li>
            <li class="versus__item">Требуют ежедневный уход</li>
            <li class="versus__item">Дороже по цене</li>
            <li class="versus__item">Маленький выбор расцветок</li>
            <li class="versus__item">Быстро теряют вид</li>
          </ul>
        </section>
        <!-- end .versus__column -->
      </div>

      <a class="versus__btn btn" href="form.html">
        <span class="btn__inner">Собрать букет</span>
      </a>

    </section>
    <!-- end versus -->

    <!-- begin portfolio -->
    <section class="section portfolio" id="portfolio">
      <h2 class="section__heading portfolio__heading" data-aos="fade-down">Наши работы</h2>
      <p class="section__description portfolio__text" data-aos="fade-down">Посмотрите букеты, которые мы собирали для наших клиентов</p>

      <div class="portfolio__container container" data-aos="fade-in">
        <div class="portfolio__grid" id="portfolio-slider">

          <a v-for="(id, index) in ids" v-if="urls[index] != ''" data-fancybox="gallery" class="portfolio__item" :data-src="'#img-gallery-' + index">
            <img class="portfolio__img" :src="urls[index]" alt="">
            <img :id="'img-gallery-' + index" class="portfolio__img" :src="urls[index]" alt="" style="display: none">
          </a>
        </div>
      </div>


    </section>
    <!-- end portfolio -->

    <!-- befin rewrites -->
    <section class="section rewrites" id="rewrites">
      <h2 class="section__heading rewrites__heading" data-aos="fade-down">Отзывы наших клиентов</h2>

      <!-- begin .rewrites__wrap -->
      <div class="rewrites__wrap">

        <div class="rewrites__rouses">
          <img class="rewrites__rouses-img js-layer" src="images/rouses/1.png" alt="" data-speed="4" style="z-index: 4;">
          <img class="rewrites__rouses-img js-layer" src="images/rouses/2.png" alt="" data-speed="3" style="z-index: 3;">
          <img class="rewrites__rouses-img js-layer" src="images/rouses/3.png" alt="" data-speed="2" style="z-index: 2;">
          <img class="rewrites__rouses-img js-layer" src="images/rouses/4.png" alt="" data-speed="1" style="z-index: 1;">
        </div>

        <!-- begin .rewrites__photo-slider -->
        <div class="rewrites__photo-slider" data-aos="fade-right" data-aos-delay="300">
          <img src="/images/rewrite/1.jpg" alt="">
        </div>
        <!-- end .rewrites__photo-slider -->

        <!-- begin .rewrites__slider -->
        <div class="rewrites__slider" data-aos="fade-right">
          <!-- begin .rewrites-slider -->
          <div class="rewrites-slider">
            <div id="rewrites-slider">
              <div class="rewrites-slider__slide" data-image="/images/rewrite/1.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                      Сегодня я была в полном восторге от букета из мыла от компани InBloom, он вообще как настоящий, но не завянет и будет долго стоять.
                  </div>
                  <a href="https://instagram.com/goncharova_mama" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@goncharova_mama</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/2.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                    Никогда не догодаетесь, из чего эти розочки. Я вот первый раз такие вижу @inbloom.ru Спасибо за эту красоту.
                  </div>
                  <a href="https://instagram.com/mt_and_me_" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@mt_and_me_</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/3.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                    Спасибо InBloom за прекрасный подарок. Букетик понравился всем гостям, а именинницу будет радовать не один день.
                  </div>
                  <a href="https://instagram.com/viktoryska" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@viktoryska</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/4.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                      Мне очень повезло, что я нашла Вас. Уже не в первый раз заказываю букетик для своих подружек. Это настолько необычно и красиво, что ими можно любоваться вечно.
                  </div>
                  <a href="https://instagram.com/lemyr27" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@lemyr27</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/5.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                    ... и да, это не тортик, а цветы,но не простые, а "вечно живые" Cпасибо InBloom за оперативность и терпение, #яжвесы, раз 5 меняла свой выбор, но если вы зайдете к ним на страничку, то сами все пойтеме.
                  </div>
                  <a href="https://instagram.com/neprostaya_ya" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@neprostaya_ya</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/6.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                    Лучший мой подарочек! Я не только про Адреану (это само собой), а еще и про цветы. Скажу честно, раньше цветы не любила! А на фото - моя мечта. Не требуют ухода, подрезания и т.д. Неувядающие мыльные цветы, а выглядят как настоящие, просто шикарно!
                  </div>
                  <a href="https://instagram.com/katieflotskaya" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@katieflotskaya</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/7.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                      Новый хит, цветы на мыльной основе от InBloom. Розы выглядят, как настоящие, раскошные, пышные! Это просто бомба, я просыпаюсь улыбаюсь каждое утро от всей этой красоты. Спасибо InBloom.
                  </div>
                  <a href="https://instagram.com/nastya.coco" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@nastya.coco</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/8.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                      Хотела поделиться прекрасной находкой!Для нашей семьи - осень - пора Дней Рождений, очень хотелось подарить, что то эдакое прекрасным дамам, чтоб порадовал глаз не один день и я попала на очень уютную и интересную страницу @inbloom.ru. Выглядят как настоящие, ручная работа,
                      отличный подарок, приятные цены, великолепный серви. Нам помогли  срочно оформить заказ в Орск+курьер по пути в ТК купил подарочную карту. Доставили все с блеском! Ни один цветочек не пострадал! Ставлю смело 10 из 10.
                  </div>
                  <a href="https://instagram.com/Innesskin" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@Innesskin</span></a>
                </div>
              </div>
              <div class="rewrites-slider__slide" data-image="/images/rewrite/9.jpg">
                <div class="rewrite-item">
                  <div class="rewrite-item__text">
                      Букет идеально вписался в интерьер нашего гнездышка. Цветы не требуют вообще никакого ухода, приятно пахнут и самое главное никогда не завянут. Огромное спасибо ребятам из магазина @inbloom за невероятной  красоты букет и оперативную доставку к нашему маленькому праздничному событию.
                  </div>
                  <a href="https://instagram.com/tanyalozi" target="_blank" class="rewrite-item__inst"><img src="/images/icons/instagram.svg" alt=""><span>@tanyalozi</span></a>
                </div>
              </div>
            </div>
          </div>
          <!-- end .rewrites-slider -->
        </div>
        <!-- end .rewrites__slider -->
        <div class="rewrite__buttons">
          <button type="button" id="rewritesBack" class="rewrites__btn rewrites-back">
            <img src="/images/icons/arrow-prev.svg" alt="">
          </button>
          <button class="rewrites__btn rewrites-next" id="rewritesNext" type="button">
            <img src="/images/icons/arrow-next.svg" alt="">
          </button>
        </div>
      </div>
      <!-- end .rewrites__wrap -->

    </section>
    <!-- end rewrites -->


    <!-- begin .map -->
    <section class="ymap-container section map">
      <h2 class="section__heading map__heading" data-aos="fade-down">Наши представители</h2>
      <p class="section__description" data-aos="fade-down">
      <div style="width: 1000px; margin: 0 auto" id="map-yandex"></div>
      </p>
    </section>
    <!-- end .map -->

  </main>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>//Переменная для включения/отключения индикатора загрузки
var spinner = $('.ymap-container').children('.loader');
//Переменная для определения была ли хоть раз загружена Яндекс.Карта (чтобы избежать повторной загрузки при наведении)
var check_if_load = false;
//Необходимые переменные для того, чтобы задать координаты на Яндекс.Карте
var myMapTemp, i = 0, myPlacemarkArr = [];

//Функция создания карты сайта и затем вставки ее в блок с идентификатором &#34;map-yandex&#34;
function init () {
  myMapTemp = new ymaps.Map("map-yandex", {
    center: [55.766158, 37.6015562], // координаты центра на карте
    zoom: 3, // коэффициент приближения карты
    controls: ['zoomControl', 'fullscreenControl'] // выбираем только те функции, которые необходимы при использовании
  });

  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var data = JSON.parse(xhttp.responseText);
      console.log('MAP');
      console.log(data);
      data.forEach(function (element) {
        if (element.coords != null) {
          myPlacemarkArr[i] = new ymaps.GeoObject({
            geometry: {
              type: "Point",
              coordinates: [parseFloat(element.coords.split(" ")[1]), parseFloat(element.coords.split(" ")[0])] // координаты, где будет размещаться флажок на карте
            }
          });
          console.log(myPlacemarkArr[i].geometry._coordinates);
          i++
        }
      });
      myPlacemarkArr.forEach(function (element) {
        myMapTemp.geoObjects.add(element);
      });
    }
  };
  xhttp.open("GET", API_SERVER + '/api/user/pins', true);
  xhttp.send();
  /*
  fetch('https://api.inbloomshop.ru/public/api/user/pins', { method: 'GET' })
          .then(function(response) {
            console.log("Последний раз вас засекали здесь: ");
            return response.json().then(function(data) {
              data.forEach(function(element) {
                if (element.coords != null) {
                  myPlacemarkArr[i] = new ymaps.GeoObject({
                    geometry: {
                      type: "Point",
                      coordinates: [parseFloat(element.coords.split(" ")[1]), parseFloat(element.coords.split(" ")[0])] // координаты, где будет размещаться флажок на карте
                    }
                  });
                  console.log(myPlacemarkArr[i].geometry._coordinates);
                  i++
                }
              });
              myPlacemarkArr.forEach(function(element) {
                myMapTemp.geoObjects.add(element);
              });
            }).catch(function() {
              // В случае ошибки возвращаем пустой массив
              return [];
            });
          })
          .catch(function(error) {
            console.error(error);
          });
*/



  // Получаем первый экземпляр коллекции слоев, потом первый слой коллекции
  var layer = myMapTemp.layers.get(0).get(0);

  // Решение по callback-у для определения полной загрузки карты
  waitForTilesLoad(layer).then(function() {
    // Скрываем индикатор загрузки после полной загрузки карты
    spinner.removeClass('is-active');
  });
}

// Функция для определения полной загрузки карты (на самом деле проверяется загрузка тайлов)
function waitForTilesLoad(layer) {
  return new ymaps.vow.Promise(function (resolve, reject) {
    var tc = getTileContainer(layer), readyAll = true;
    tc.tiles.each(function (tile, number) {
      if (!tile.isReady()) {
        readyAll = false;
      }
    });
    if (readyAll) {
      resolve();
    } else {
      tc.events.once("ready", function() {
        resolve();
      });
    }
  });
}

function getTileContainer(layer) {
  for (var k in layer) {
    if (layer.hasOwnProperty(k)) {
      if (
              layer[k] instanceof ymaps.layer.tileContainer.CanvasContainer
              || layer[k] instanceof ymaps.layer.tileContainer.DomContainer
      ) {
        return layer[k];
      }
    }
  }
  return null;
}

// Функция загрузки API Яндекс.Карт по требованию (в нашем случае при наведении)
function loadScript(url, callback){
  var script = document.createElement("script");

  if (script.readyState){  // IE
    script.onreadystatechange = function(){
      if (script.readyState == "loaded" ||
              script.readyState == "complete"){
        script.onreadystatechange = null;
        callback();
      }
    };
  } else {  // Другие браузеры
    script.onload = function(){
      callback();
    };
  }

  script.src = url;
  document.getElementsByTagName("head")[0].appendChild(script);
}


// Основная функция, которая проверяет когда мы навели на блок с классом &#34;ymap-container&#34;
var ymap = function() {
  $('.ymap-container').mouseenter(function(){
    if (!check_if_load) { // проверяем первый ли раз загружается Яндекс.Карта, если да, то загружаем

      // Чтобы не было повторной загрузки карты, мы изменяем значение переменной
      check_if_load = true;

      // Показываем индикатор загрузки до тех пор, пока карта не загрузится
      spinner.addClass('is-active');

      // Загружаем API Яндекс.Карт
      loadScript("https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=51dd1116-29b8-4a97-ac52-d4d1197d0d80&amp;loadByRequire=1", function(){
        // Как только API Яндекс.Карт загрузились, сразу формируем карту и помещаем в блок с идентификатором &#34;map-yandex&#34;
        ymaps.load(init);
      });
    }
  });
};

$(function () {


  //if (document.body.clientWidth < 600) {
    var present = document.getElementById('map-yandex');
    window.onscroll = function() {
      if (checkVisible(present) == true) {
        if (!check_if_load) { // проверяем первый ли раз загружается Яндекс.Карта, если да, то загружаем

          // Чтобы не было повторной загрузки карты, мы изменяем значение переменной
          check_if_load = true;

          // Показываем индикатор загрузки до тех пор, пока карта не загрузится
          spinner.addClass('is-active');

          // Загружаем API Яндекс.Карт
          loadScript("https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=51dd1116-29b8-4a97-ac52-d4d1197d0d80&amp;loadByRequire=1", function(){
            // Как только API Яндекс.Карт загрузились, сразу формируем карту и помещаем в блок с идентификатором &#34;map-yandex&#34;
            ymaps.load(init);
          });
        }
      }
    };
    function checkVisible(elm) {
      var rect = elm.getBoundingClientRect();
      var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
      return !(rect.bottom < 300 || rect.top - viewHeight >= -300);
    }
  //}
  //Запускаем основную функцию
  ymap();
})
</script>
<style>
  /* &#34;Блок-обертка&#34;, где мы задаем фоновое изображение скриншотом как на карте */
  .ymap-container {
    position: relative;
    margin: 3em auto 2em auto;
    overflow: hidden;
    cursor: pointer;

    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 2em  0 rgba(0,0,0,.2);
  }

  /* Блок, в котором появится Яндекс.Карта */
  #map-yandex {
    position: relative;
    z-index: 7;
    width: 100%;
    height: 20em;
    cursor: pointer;
    background: url('../images/ymap.png') #ffffff no-repeat;
    background-color: transparent;
  }
  /* Индикатор загрузки, который показывается до загрузки карты */
  .loader {
    position: absolute;
    z-index: 15;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000000;
    transition: opacity .7s ease;
    opacity: 0;
    background-color: rgba(0,0,0,.55);
  }

  .loader:after,
  .loader:before {
    box-sizing: border-box;
  }

  .loader.is-active {
    top: 0;
    opacity: 1;
  }

  .loader-default:after {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    content: '';
    animation: rotation 1s linear infinite;
    border: solid 8px #ffffff;
    border-left-color: transparent;
    border-radius: 50%;
  }

  @keyframes rotation {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @keyframes blink {
    from {
      opacity: .5;
    }
    to {
      opacity: 1;
    }
  }

  .select-size-item a {
    color: black;
  }
</style>

@@include('include/footer.html')
</body>
</html>
